.tasks {
  padding: 20px;
}

.underlined-heading {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.underlined-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.mat-accordion .mat-expansion-panel-header {
  font-weight: bold;
}

.task-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.completed-task {
  background-color: grey;
}

.trenner {
  width: 100%;
  border-top: 1px solid #000;
  margin: 20px 0;
}
