<div class="tasks">
  <h2 class="underlined-heading">Aufgaben
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let task of tasks">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ task.title }}
        </mat-panel-title>
        <mat-panel-description>
          Enddatum: {{ task.endDate | date:'dd.MM.yyyy' }} <!-- Datumsformat angepasst -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <p>{{ task.description }}</p>
        <mat-form-field appearance="fill">
          <mat-label>Priorität</mat-label>
          <mat-select [(value)]="task.priority">
            <mat-option *ngFor="let priority of priorities" [value]="priority">
              {{ priority }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

