.tasks ul {
  list-style: none; /* Entfernt die Standard-Bullet-Points */
  padding: 0;
  margin: 0;
}

.tasks li {
  position: relative; /* Ermöglicht das Positionieren der Pseudo-Elemente */
  padding-left: 20px; /* Gibt ein wenig Raum am linken Rand */
  height: 40px; /* Stellt die Höhe jeder Zeile ein */
  line-height: 40px; /* Zentriert den Text vertikal */
  border-bottom: 1px solid #ccc; /* Fügt die Linie unter jedem Listenelement hinzu */
  margin-bottom: 10px; /* Abstand zwischen den Elementen */
}

.tasks li:last-child {
  border-bottom: none; /* Entfernt die Linie vom letzten Listenelement */
}

.underlined-heading {
  position: relative;
  padding-bottom: 10px;
}

.underlined-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}
