<div class="tasks">
  <h2 class="underlined-heading">Aufgaben
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let todo of toDos">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ todo.description }}
        </mat-panel-title>
        <mat-panel-description>
          Enddatum: {{ todo.deadLine | date:'dd.MM.yyyy' }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>

        <app-subtask *ngFor="let subtask of todo.subtasks" [subtask]="subtask"></app-subtask>

          <mat-label>Priorität</mat-label>
        <br>
        <strong>{{todo.priority}}</strong>

        <div class="task-actions">
          <button mat-icon-button (click)="markAsCompleted(todo)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button (click)="editTask(todo)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="confirmDeleteTask(todo.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>

    <button mat-button (click)="toggleCompleted()">
      {{ showCompleted ? 'Erledigte Aufgaben ausblenden' : 'Erledigte Aufgaben anzeigen' }}
    </button>
    <div class="trenner" *ngIf="showCompleted"></div>

    <ng-container  *ngIf="showCompleted">
    <mat-expansion-panel *ngFor="let todo of completedToDos" class="completed-task">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ todo.description }}
        </mat-panel-title>
        <mat-panel-description>
          Enddatum: {{ todo.deadLine | date:'dd.MM.yyyy' }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <!-- hier Subtasks -->
        <mat-form-field appearance="fill">
          <mat-label>Priorität</mat-label>
          <mat-select [(value)]="todo.priority">
            <mat-option *ngFor="let priority of priorities" [value]="priority">
              {{ priority }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="task-actions">
          <button mat-icon-button (click)="markAsUncompleted(todo)">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button (click)="confirmDeleteTask(todo.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
