<div class="courses">
  <h2 class="underlined-heading">Kurse
    <button mat-icon-button (click)="openCourseDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="openCompletedCoursesDialog()">
      <mat-icon>history</mat-icon>
    </button>
  </h2>
  <div class="course-list">
    <mat-card *ngFor="let course of courses" class="course-card">
      <mat-card-header>
        <mat-card-title>{{ course.name }}</mat-card-title>
        <mat-card-subtitle>Semester: {{ course.semester }}</mat-card-subtitle>
        <br>
        <mat-card-subtitle>Prüfung: {{ course.exam }}</mat-card-subtitle>
        <br>
        <mat-card-subtitle>Prüfungsdatum: {{ course.examDate | date:'dd.MM.yyyy' }}</mat-card-subtitle>
        <br>
        <mat-card-subtitle>Note: {{ course.grade }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-icon-button (click)="markAsCompleted(course)">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button (click)="editCourse(course)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="confirmDeleteCourse(course)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
