<h2 mat-dialog-title>{{ data.isEdit ? 'Kurs bearbeiten' : 'Neuen Kurs hinzufügen' }}</h2>
<mat-dialog-content>
  <form [formGroup]="courseForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="courseForm.get('name')?.hasError('required')">Name ist erforderlich.</mat-error>
      <mat-error *ngIf="courseForm.get('name')?.hasError('maxlength')">Name ist zu lang.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Semester</mat-label>
      <mat-select formControlName="semester">
        <mat-option *ngFor="let i of semesters" [value]="i">{{i}}</mat-option>
      </mat-select>
      <mat-error *ngIf="courseForm.get('semester')?.hasError('required')">Semester ist erforderlich.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prüfungstyp</mat-label>
      <input matInput formControlName="exam">
      <mat-error *ngIf="courseForm.get('exam')?.hasError('required')">Prüfungstyp ist erforderlich.</mat-error>
      <mat-error *ngIf="courseForm.get('exam')?.hasError('maxlength')">Prüfungstyp ist zu lang.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prüfungsdatum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="examDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="courseForm.get('examDate')?.hasError('required')">Prüfungsdatum ist erforderlich.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Note</mat-label>
      <input matInput formControlName="grade" (input)="replaceCommaWithDot($event)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Farbe</mat-label>
      <input matInput type="color" formControlName="color">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-button (click)="onSave()" [disabled]="!courseForm.valid">Speichern</button>
</mat-dialog-actions>
