<h2 mat-dialog-title>{{ data.isEdit ? 'Kurs bearbeiten' : 'Neuen Kurs hinzufügen' }}</h2>
<mat-dialog-content>
  <form [formGroup]="courseForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="courseForm.get('name')?.hasError('required')">Name ist erforderlich.</mat-error>
      <mat-error *ngIf="courseForm.get('name')?.hasError('maxlength')">Name ist zu lang.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-button (click)="onSave()" [disabled]="!courseForm.valid">Speichern</button>
</mat-dialog-actions>
