<div class="dashboard">
  <div class="dashboard-header-container">
    <div class="dashboard-header" [ngStyle]="{'background-image': 'url(' + headerImage + ')'}">
      <div class="button-group">
        <button class="button" (click)="triggerFileInput()">Hochladen</button>
        <input type="file" id="fileInput" (change)="onImageSelected($event)" class="image-input">
        <button *ngIf="headerImage" class="button" (click)="openImageSelectionModal()">Standard Bild ändern</button>
        <button *ngIf="headerImage" class="button" (click)="removeImage()">Zurücksetzen</button>
      </div>
    </div>

  </div>

  <div class="dashboard-content">
    <app-tasks class="dashboard-tasks"></app-tasks>
    <app-notes class="dashboard-notes"></app-notes>
  </div>

  <div class="dashboard-courses">
    <app-courses></app-courses>
  </div>

  <div class="dashboard-rightarea">
    <app-grade-average></app-grade-average>
    <app-calendar-widget></app-calendar-widget>
    <app-weather-widget></app-weather-widget>
  </div>
</div>

<button mat-raised-button color="primary" class="logout-button" (click)="logout()">Ausloggen</button>
