.dashboard {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  height: 100vh;
  padding: 20px;
}

.dashboard-header {
  grid-column: 1 / -1;
  background-image: url("/assets/cherry blossoms.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 150px;
  position: relative;
}

.small-button {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1;
  min-width: auto;
  background-color: white;
}

.dashboard-header h1 {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 24px;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-column: 1 / 2;
}

.dashboard-courses {
  grid-column: 1 / 2;
}

.dashboard-rightarea {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

.calendar, .weather {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.underlined-heading {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.underlined-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}
