<div class="dashboard">
  <div class="dashboard-header"></div>

  <div class="dashboard-leftarea">
    <div class="top-row">
      <h1>My Dashboard</h1>
    </div>
    <div class="middle-row">
      <div class="left-column">
        <app-tasks></app-tasks>
      </div>
      <div class="right-column">
        <app-notes></app-notes>
      </div>
    </div>
    <div class="bottom-row">
      <app-courses></app-courses>
    </div>

  </div>

  <div class="dashboard-rightarea">
    <div class="row">

    </div>
    <div class="row">

    </div>
  </div>
</div>
