body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  height: 100vh;
  padding: 20px;
}

.dashboard-header {
  grid-column: 1 / -1;
  background-image: url("/assets/cherry blossoms.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 150px;
  position: relative;
}

.dashboard-header h1 {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 24px;
}

.small-button {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1;
  min-width: auto;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 20px;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-column: 1 / 2;
}

.dashboard-courses {
  grid-column: 1 / 2;
}

.dashboard-rightarea {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

.calendar, .weather {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Setze die Breite der Box auf 100% */
  max-width: 300px; /* Maximalbreite der Wetterbox */
  margin: 0 auto; /* Zentriere die Box */
}

.underlined-heading {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.underlined-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%; /* Breite der Suchleiste auf 100% setzen */
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  margin: 0;
  height: 38px; /* Höhe explizit festlegen */
}

.search-button {
  background-color: #87c1c1;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px; /* Höhe explizit festlegen */
}

.search-icon {
  width: 16px;
  height: 16px;
}

#weather {
  margin-top: 20px;
  text-align: center;
}

#weather .weather-box {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150px;
  margin: 0 auto;
}

#weather h2 {
  margin: 10px 0;
  color: #333;
  font-size: 18px;
}

#weather p {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}

#weather .temperature {
  font-size: 24px;
  margin: 10px 0;
}

#weather .weather-icon img {
  width: 48px;
  height: 48px;
  margin: 10px 0;
}
