.tasks {
  padding: 20px;
}

.task-border {
  border: 2px solid;
}

.underlined-heading {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.underlined-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.mat-accordion .mat-expansion-panel-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.mat-expansion-panel-header.mat-expanded .colored-part {
  background-color: transparent !important;
}

.mat-expansion-panel.mat-expanded {
  border-width: 3px;
  border-style: solid;
}

.colored-part {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #000000;
  flex-shrink: 0;
}

.description-text {
  color: #000000;
  white-space: nowrap;
}

.mat-panel-description {
  margin-left: auto;
  padding: 10px 16px;
}

.task-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.completed-task {
  background-color: grey;
}

.trenner {
  width: 100%;
  border-top: 1px solid #000;
  margin: 20px 0;
}
