<div class="tasks">
  <h2 class="underlined-heading">Aufgaben
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="openCompletedToDosDialog()">
      <mat-icon>history</mat-icon>
    </button>
  </h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let todo of toDos" [ngStyle]="{'background-color': courseColors.get(todo.id)}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ todo.description }}
        </mat-panel-title>
        <mat-panel-description>
          Enddatum: {{ todo.deadLine | date:'dd.MM.yyyy' }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>

        <app-subtask *ngFor="let subtask of subtasks.get(todo.id)" [subtask]="subtask"></app-subtask>

        <mat-label>Priorität</mat-label>
        <br>
        <strong>{{ todo.priority }}</strong>
        <br>
        <br>
        <mat-label>Kurs</mat-label>
        <br>
        <strong>{{getCourseName(todo.course ? todo.course : '')}}</strong>

        <div class="task-actions">
          <button mat-icon-button (click)="markAsCompleted(todo)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button (click)="editTask(todo)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="confirmDeleteTask(todo.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
