<div class="login-container">
  <h1 class="titleStudy">STUDYDASH</h1>
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Registrieren</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Benutzername</mat-label>
          <input matInput placeholder="Ihr Benutzername" [(ngModel)]="username" name="username">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Passwort</mat-label>
          <input matInput type="password" placeholder="Ihr Passwort" [(ngModel)]="password" name="password">
        </mat-form-field>
        <button type="submit" class="login-button">Registrieren</button>
        <p class="register-text" (click)="goToLogin()">Ein Account vorhanden? <a>Hier</a></p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
